body {
    margin: 0;
    background-color: rgb(232, 232, 232);
    font-family: 'Poppins';
    font-size: 1vw;
}
@media print {
    body {
        visibility: hidden;
    }
    .round, #registration_header {
        visibility: visible;
    }
}