server {
        listen 80;
        listen [::]:80;

        root /www/msw/public/;

        index index.php;

        location / {
                try_files $uri $uri/ =404;
                rewrite ^/(.+)\.php?$ /%1 redirect;
                if (!-e $request_filename){
                  rewrite ^(.*)$ /$request_uri.php;
                }
        }

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;
                fastcgi_pass php-fpm:9000;
        }
}